*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  min-height: 300vh;
}
.boxcontainer {
  // margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300vh;
  // border: 5px solid #000;
  .box {
    width: 150px;
    height: 150px;
    background-color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
